<div class="grid grid-cols-12 fixed w-full h-full left-0 top-0 -z-1">
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
  <div class="col-span-1 bg-red-50 outline outline-red-300">
  </div>
</div>