@import "tailwindcss";

@layer base {
  :root {
    --grid-columns: 12;
    --grid-gap: 0rem;
    --col-width: calc((100% - (11 * var(--grid-gap))) / var(--grid-columns));
  }
}

@layer utilities {
  .w-col-3 {
    width: calc(var(--col-width) * 3 + var(--grid-gap) * 2) !important;
  }
}

